<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cursos Disponibles</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link th:href="@{/static/css/estudiante.css}" rel="stylesheet">
</head>
<body>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid"> <a class="navbar-brand" href="/estudiante/dashboard.html"> <i
                    class="fas fa-chalkboard-teacher me-2"></i> Sistema Académico - Estudiante </a>
            <div class="dropdown"> 
                <button class="btn btn-light dropdown-toggle" type="button"
                    data-bs-toggle="dropdown"> <i class="fas fa-user-circle me-1"></i> 
                    <span th:text="${docente.nombres}"></span> 
                    <span th:text="${docente.apellidos}"></span> 
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="/logout"> <i class="fas fa-sign-out-alt me-2"></i>Cerrar Sesión
                        </a></li>
                </ul>
            </div>
        </div>
    </nav>

<div class="container-fluid">
    <div class="row">

        <!-- SIDEBAR -->
        <div class="col-md-2 sidebar p-0">
            <li>
    <a class="nav-link" href="/estudiante/dashboard.html">
        <i class="fas fa-tachometer-alt me-2"></i> Dashboard
    </a>
</li>

<li>
    <a class="nav-link" href="/estudiante/mis-cursos.html">
        <i class="fas fa-book me-2"></i> Mis Cursos
    </a>
</li>

<li>
    <a class="nav-link active" href="/estudiante/cursos-disponibles.html">
        <i class="fas fa-list me-2"></i> Cursos Disponibles
    </a>
</li>

<li>
    <a class="nav-link" href="/estudiante/docentes-disponibles.html">
        <i class="fas fa-chalkboard-teacher me-2"></i> Docentes
    </a>
</li>

<li>
    <a class="nav-link" href="/estudiante/mi-matricula.html">
        <i class="fas fa-file-signature me-2"></i> Mi Matrícula
    </a>
</li>
        </div>

        <!-- CONTENIDO -->
        <div class="col-md-10 p-4">

            <h2 class="mb-4">
                <i class="fas fa-list text-success me-2"></i>
                Cursos Disponibles
            </h2>

            <div class="card">
                <div class="card-body">

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Curso</th>
                            <th>Créditos</th>
                            <th>Acción</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="curso : ${cursosDisponibles}">
                            <td th:text="${curso.nombre}">Ingles I</td>
                            <td th:text="${curso.creditos}">3</td>
                            <td>
                                <form th:action="@{/estudiante/matricular}" method="post">
                                    <input type="hidden" name="cursoId" th:value="${curso.id}">
                                    <a href="/estudiante/mi-matricula.html" class="btn btn-success btn-sm">
                                    <i class="fas fa-plus me-1"></i> Matricular
                                    </a>
                                </form>
                            </td>
                        </tr>
                        <tr th:each="curso : ${cursosDisponibles}">
                            <td th:text="${curso.nombre}">Arte </td>
                            <td th:text="${curso.creditos}">3</td>
                            <td>
                                <form th:action="@{/estudiante/matricular}" method="post">
                                    <input type="hidden" name="cursoId" th:value="${curso.id}">
                                    <a href="/estudiante/mi-matricula.html" class="btn btn-success btn-sm">
                                    <i class="fas fa-plus me-1"></i> Matricular
                                    </a>
                                </form>
                            </td>
                        </tr>
                        <tr th:each="curso : ${cursosDisponibles}">
                            <td th:text="${curso.nombre}">Religión</td>
                            <td th:text="${curso.creditos}">2</td>
                            <td>
                                <form th:action="@{/estudiante/matricular}" method="post">
                                    <input type="hidden" name="cursoId" th:value="${curso.id}">
                                    <a href="/estudiante/mi-matricula.html" class="btn btn-success btn-sm">
                                    <i class="fas fa-plus me-1"></i> Matricular
                                    </a>
                                </form>
                            </td>
                        </tr> 
                        <tr th:each="curso : ${cursosDisponibles}">
                            <td th:text="${curso.nombre}">Educación para el Trabajo</td>
                            <td th:text="${curso.creditos}">2</td>
                            <td>
                                <form th:action="@{/estudiante/matricular}" method="post">
                                    <input type="hidden" name="cursoId" th:value="${curso.id}">
                                    <a href="/estudiante/mi-matricula.html" class="btn btn-success btn-sm">
                                    <i class="fas fa-plus me-1"></i> Matricular
                                    </a>
                                </form>
                            </td>
                        </tr>

                        
                        </tbody>

                    </table>

                </div>
            </div>

        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>