<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="col-md-2 col-lg-2 d-md-block sidebar p-0" th:fragment="sidebar">
    <div class="sidebar-menu">
        <div class="user-info text-center">
            <div class="user-avatar">
                <img th:src="@{/img/logo.png}" alt="Logo" class="avatar-img">
            </div>
            <h5 th:text="${docente.nombres} + ' ' + ${docente.apellidoPaterno}"></h5>
            <p><i class="fas fa-id-card"></i> <span th:text="${docente.dni}">-</span></p>
            <p><i class="fas fa-envelope"></i> <span th:text="${docente.email}">-</span></p>
        </div>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" th:classappend="${modulo == 'dashboard'} ? 'active' : ''" href="/docente/dashboard">
                    <i class="fas fa-tachometer-alt"></i> Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${modulo == 'cursos'} ? 'active' : ''" href="/docente/mis-cursos">
                    <i class="fas fa-book-open"></i> Mis Cursos
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>